@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply !w-full !px-[.75rem] mx-auto xl:!max-w-[1300px] lg:!max-w-[1080px] md:!max-w-[720px] sm:!max-w-[576px];
  }

  .smooth {
    @apply transition duration-200;
  }

  .swiper-slide {
    @apply !m-0;
  }
}

h1,
h2,
h3 {
  font-family: var(--font-Alumni_Sans);
  color: #1e1e1e;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
}

::-webkit-scrollbar-track {
  background: transparent;
}
